<header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

  <div class="order-summary jumbotron">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Categories</th>
          <th>Products</th>
        </tr>
      </thead>
      <tbody>
        <td><%= @categories_summary %></td>
        <td><a href="/admin/products"><%= @products_summary %></a></td>
      </tbody>
    </table>
  </div>
